/* All css common start */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

.container {
    width: 1210px;
    margin: 0 auto;
}

/* All css common end */

/* Menu part start */
#headerpart {
    background: #F9F9FC;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    align-items: center;
}

.menu ul {
    display: flex;
    align-items: center;
}

.menu ul li a {
    padding: 0 25px;
    line-height: 70px;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
}

.menu a:hover {
    color: #5E3BEE;
    transition: .2s;
}

.button a {
    padding: 10px 20px;
    background: #5E3BEE;
    border-radius: 50px;
    color: white;
}

/* Menu part end */

/* Banner Part Start */
#bannerpart {
    background: #F9F9FC;
    padding-top: 15px;
    padding-bottom: 60px;
}

.BannerFlex {
    display: flex;
    justify-content: space-between;
}

.bannerLeft {
    width: 50%;
}

.bannerLeft h4 {
    font-size: 16px;
    color: #5E3BEE;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 115px;
    padding-bottom: 50px;
}

.bannerLeft h1 {
    font-size: 60px;
    color: #333333;
    font-weight: 500;
    width: 480px;
    line-height: 78px;
    padding-bottom: 30px;
}

.bannerRight {
    width: 50%;
}

.bannerRight img {
    width: 100%;
}

.button i {
    margin-right: 5px;
}

.button i {
    margin-right: 10px;
}

.bannerBtn a:hover {
    background: transparent;
    color: #333333;
}

/* Banner Part end */
#counterPart {
    padding: 90px 0;
}

.counterFlex {
    display: flex;
    justify-content: space-between;
}

.counterItem {
    width: 23%;
    background:#F9F9FC;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 10px;

}

.counterItem h3 {
    font-size: 48px;
    font-weight: 600;
    color: #000000;
    padding-bottom: 10px;
}

.counterItem h4 {
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
}

/* Menu part end */
/* Menu part start */
/* Menu part end */
/* Menu part start */
/* Menu part end */
/* Menu part start */
/* Menu part end */
/* Menu part start */
/* Menu part end */
/* Menu part start */
/* Menu part end */
/* Menu part start */
/* Menu part end */
/* Menu part start */
/* Menu part end */
/* Menu part start */
/* Menu part end */
/* Menu part start */
/* Menu part end */
/* Menu part start */
/* Menu part end */
/* Menu part start */
/* Menu part end */
/* Menu part start */
/* Menu part end */
/* Menu part start */
/* Menu part end */
