/* All Common css start */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

.container {
    width: 1210px;
    margin: 0 auto;
}

/* All Common css end */
/* Header Part Start */
#headerPart {
    background: #F9F9FC;
    padding: 0 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    display: flex;
    align-items: center;
}

.menu ul li a {
    padding: 25px;
    line-height: 70px;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
}

.menu ul li a:hover {
    color: rgb(15, 112, 249);
}

.button a {
    padding: 10px 20px;
    background: #5E3BEE;
    border-radius: 50px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

.button i {
    margin-left: 10px;
}

/* Header Part End */

/* Header Part Start */

/* Header Part End */
/* Header Part Start */

/* Header Part End */
/* Header Part Start */

/* Header Part End */
/* Header Part Start */

/* Header Part End */
/* Header Part Start */

/* Header Part End */
/* Header Part Start */

/* Header Part End */
/* Header Part Start */

/* Header Part End */
/* Header Part Start */

/* Header Part End */